a {
    color: #0f75d7;
}

    a:hover {
        color: gold;
    }

body {
    font-family: 'Calibri', sans-serif;
    font-size: 14px;
    background-color: #ffffff;
    color: black;
}

.title {
    font-size: 35px;
    font-weight: bold;
    margin-left: 15px;
}

.refresh {
    font-size: 14px;
    margin-left: 15px;
}

.application-information {
    font-size: 14px;
    margin-left: 15px;
    text-align: center;
    width: 100%;
}

.error {
    margin: 20px;
    color: #fff41f;
}

.menuitem {
    display: inline-block;
    float: right;
}

    .menuitem a {
        margin-right: 25px;
    }

.release {
    color: #2b4055;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #83c2ff;
    border-radius: 10px;
}

.name {
    margin-left: 10px;
    font-size: 175%;
    font-weight: bold;
}

.date {
    margin-left: 10px;
    font-size: 125%;
    font-weight: bold;
}

.status-bar {
    border-radius: 2px;
    margin: 10px;
    height: 10px;
    font-size: 0;
}

    .status-bar.in-progress {
        background-color: #0f75d7;
    }

    .status-bar.released {
        background-color: #59d42f;
    }

    .status-bar.error {
        background-color: #ff1f1f;
    }

    .status-bar.draft {
        background-color: #fff41f;
    }

.pipeline {
    display: inline-block;
}

.stage {
    text-align: center;
    color: White;
    display: inline-block;
    float: left;
    background-color: #2b4055;
    min-width: 175px;
    min-height: 175px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.header {
    font-weight: bold;
    font-size: 130%;
    color: #fff41f;
}

.stage-seperator {
    display: inline-block;
    width: 15px;
    height: 125px;
    background-image: url('../images/Arrow.png');
    background-repeat: no-repeat;
    background-position-y: 25px;
}

    .stage-seperator.last {
        background-image: none;
    }

.step {
    position: relative;
    font-size: smaller;
    margin: 5px;
    padding: 2px;
    border-radius: 5px;
    vertical-align: middle;
    color: black;
}

    .step.pending {
        background-image: url('/assets/images/activebg.gif');
    }

    .step.done {
        background-color: #a5ff86;
    }

    .step.stopped {
        background-color: #ffc755;
    }

    .step.rejected {
        background-color: #ff6868;
    }

    .step.cancelled {
        background-color: #fff41f;
    }

    .step.reassigned {
        background-color: #b454ff;
    }

.targetstage {
    position: absolute;
    background-image: url('/assets/images/target.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
}

.config-panel {
    color: #2b4055;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #83c2ff;
}

    .config-panel a {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 2px;
        background-color: #0f75d7;
        color: whitesmoke;
        text-decoration: none;
    }

        .config-panel a:hover {
            color: whitesmoke;
            background-color: #1982db;
        }

.field {
    margin: 10px;
}

.approver {
    font-style: italic;
}

.deploymentStep {
    border-radius: 5px;
    font-style: italic;
    margin: 5px;
}

    .deploymentStep.succeeded {
        background-color: #CCFFB9;
    }

    .deploymentStep.failed {
        background-color: #FF8C8C;
    }

    .deploymentStep.pending {
        background-color: #FBFCFF;
    }

    .deploymentStep.in-progress {
        background-color: #BECFFF;
    }

    .deploymentStep.cancelled {
        background-color: #FFF645;
    }

.showDeploymentStepsLink {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 4px;
    margin-top: -5px;
    font-weight: bold;
    font-size: 18px;
}

    .showDeploymentStepsLink:hover {
        cursor: pointer;
    }
